<%= form_with model: @recipe do |f| %>
　<%= render 'layouts/errors', obj: f.object %>
<% end %>

<div class="container">

  <%= form_with model: @recipe, local:true do |f| %>

  <div class="row">
    <div class="col-md-10">
     <h4>レシピ編集</h4>
     <br>
      <h6>&emsp;✳マークのある項目は入力必須です</h6>

     <table class="table">
      <tr>
       <th>レシピ画像</th>
       <td><%= f.attachment_field :image, fallback: "no-image.jpg" %></td>
      </tr>

      <tr>
       <th>レシピ名 ✳</th>
       <td><%= f.text_field :name, autoforcus: true, placeholder: "レシピ名", size: "30", class: "form-control" %></td>
      </tr>

      <tr>
       <th>ジャンル ✳</th>
       <td><%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: "--選択してください--", size: "30", class: "form-control" %></td>
      </tr>
      
      <!--<tr>-->
      <!-- <th>リンク</th>-->
      <!-- <td><%#= f.text_field :url, autoforcus: true, placeholder: "https://recipe.net", size: "30", class: "form-control" %></td>-->
      <!--</tr>-->

      <tr>
       <div class="form-group">
        <th>材料</th>
         <td>
           <div class="list-inline" id="ingredients">
             <%= f.fields_for :ingredients do |builder| %>
               <%= render 'ingredient_fields', f: builder %>
             <% end %>
           </div>
           <div id="links">
            <%= link_to_add_association '', f, :ingredients, class: "fas fa-plus-circle fa-lg plus_icon" %>
           </div>
         </td>
         <br/>
       </div>
      </tr>

      <tr>
       <th>手順</th>
       <td><%= f.text_area :step, placeholder: "レシピを記入してください", size: "30x5", class: "form-control" %></td>
      </tr>
     </table>

     <br>

     <div class="text-center">
      <%= f.submit "変更を保存", class: 'btn btn-outline-secondary' %>
      <%= link_to "Back", recipe_path(@recipe), class: 'btn btn-outline-info' %>
     </div>

    </div>
   </div>
  <% end %>
</div>