<%= form_with model: @recipe do |f| %>
  <%= render 'layouts/errors', obj: f.object %>
<% end %>



<div class="container">

  <%= form_with model: @recipe, local:true do |f| %>

  <div class="row">
    <div class="col-md-10">
     <h4>レシピの登録</h4>

     <table class="table">
      <tr>
       <th>レシピ画像</th>
       <td><%= f.attachment_field :image %></td>
      </tr>

      <tr>
       <th>レシピ名</th>
       <td><%= f.text_field :name, autoforcus: true, placeholder: "レシピ名", size: "30", class: "form-control" %></td>
      </tr>

      <tr>
       <th>ジャンル</th>
       <td><%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: "--選択してください--", size: "30", class: "form-control" %></td>
      </tr>

      <tr>
       <div class="form-group">
        <th>材料</th>
         <td>
           <div class="list-inline" id="ingredients">
             <%= f.fields_for :ingredients do |builder| %>
              <%= render 'ingredient_fields', f: builder %>
             <% end %>
           </div>
           <div id="links">
            <%= link_to_add_association "+", f, :ingredients %>
           </div>
         </td>
         <br/>
       </div>
      </tr>

      <tr>
       <th>手順</th>
       <td><%= f.text_area :step, placeholder: "手順を記入してください", size: "30x5", class: "form-control" %></td>
      </tr>
     </table>

     <br>

     <div class="text-center">
      <%= f.submit "レシピを登録", class: 'btn btn-outline-secondary' %>
     </div>

    </div>
  </div>
 <% end %>
</div>
