<div class="container">
 <div class="row">
  <div class="col-md-10">
    <h3 class="d-inline page-title"><%= @recipe.name %></h3>
  </div>
 </div>


  <div class="row mt-5">
    <div class="col-md-5 text-center">
      <%= attachment_image_tag @recipe, :image, format: 'png', size: "300x300", fallback: "no-image.png", class: "border border-white" %>
    </div>

    <div class="col-md-6 ml-5 text-left">

     <div class="row">
      <div class="col-2">ジャンル</div>
      <div class="col"><%= @recipe.genre.name %></div>
     </div>

     <div class="row">
      <table class="table">
      <div class="col-2">材料</div>
        <ul style="list-style:none;">
         <% @ingredients.each do |ingredient| %>
           <div class="col">材料名：<%= ingredient.name %></div>
           <div class="col">単位：<%= ingredient.unit %></div>
           <div class="col">量：<%= ingredient.quantity %></div>
        <% end %>
        </ul>
       </div>
       </table>
     </div>

     <div class="row">
      <div class="col-2">手順</div>
      <div class="col"><%= safe_join(@recipe.step.split("\n"),tag(:br)) %></div>
     </div>

   </div>
  </div>

  <br>

  <div class="text-center">
    <%= link_to "編集する", edit_recipe_path(@recipe.id), class: 'btn btn-outline-secondary' %>
    <%= link_to 'レシピを削除', @recipe, method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-outline-danger" %>
    <%= link_to "献立を作る", daily_menus_path, class: 'btn btn-outline-info' %>
  </div>
</div>
