<div class="container">
  <div class="row">
   <img src="<%= asset_path("logo.png") %>" class="d-block mx-auto" alt=""></img>
  </div>

  <div class="row">
    <div class="col-md-10 mx-auto">
         <div>
          <h5>今週の献立</h5>
          <%= week_calendar(events: @daily_menus) do |date, daily_menus| %>
            <%= link_to  date.day, daily_menus_path %>
            <ul style="list-style:none;">
            <% daily_menus.each do |daily_menu| %>
               <li><%= daily_menu.meal_time.name %></li>
               <li><%= link_to daily_menu.recipe.name, recipe_path(daily_menu.recipe.id) %></li>
　　　　　  <% end %>
　　　　　  </ul>
          <% end %>
          <h6>今週のお買い物リストはこちら→<%= link_to "", shopping_lists_path, class: "fas fa-shopping-cart" %>
          </h6>
         </div>
   </div>
  </div>
</div>