<div class="container">
  <%= form_with model: @daily_menu do |f| %>
    <%= render 'layouts/errors', obj: f.object %>
  <% end %>


  <div class="row">
    <div class="col-md-10 mx-auto">
      <table class="table table-hover">

        <div class="row">
          <div class="col-md-10 mx-auto">
           <h4>献立編集ページ</h4>
             <%= form_with model: @daily_menu do |f| %>
              <label for="date">日付</label>
              <p><%= f.date_field :start_time %></p>

              <label for="meal_time">朝/昼/夜</label>
              <p><%= f.collection_select :meal_time_id, MealTime.all, :id, :name, prompt: "--選択してください--", size: "30", class: "form-control" %></p>

              <label for="recipe">レシピ</label>
              <p><%= f.collection_select :recipe_id, current_user.recipes.all, :id, :name, prompt: "--選択してください--", size: "30", class: "form-control"  %></p>

               <%= f.submit "変更する", class: 'btn btn-outline-secondary', data: {"turbolinks" => false} %>
                  <%= link_to '献立から削除', @daily_menu, method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-outline-danger" %>
                  <%= link_to "Back", daily_menus_path, class: 'btn btn-outline-secondary' %>
             <% end %>
          </div>
        </div>
      </table>
    </div>
  </div>
</div>