<div class="container">
   <div class="row">
    <div class="col-md-10 mx-auto">
      <table class="table table-hover">

          <div class="row">
    <div class="col-md-10 mx-auto">
      <table class="table table-hover">

        <h4>献立編集ページ</h4>
         <%= form_with model: @daily_menu do |f| %>
           <label for="date">日付</label>
           <p><%= f.date_field :start_time %></p>

           <label for="meal_time">朝/昼/夜</label>
           <p><%= f.collection_select :meal_time_id, MealTime.all, :id, :name, prompt: "--選択してください--", size: "30", class: "form-control" %></p>

           <label for="recipe">レシピ</label>
           <p><%= f.collection_select :recipe_id, Recipe.all, :id, :name, prompt: "--選択してください--", size: "30", class: "form-control"  %></p>

               <%= f.submit "変更を", class: 'btn btn-outline-secondary' %>
               <%= link_to "Back", daily_menus_path, class: 'btn btn-outline-secondary' %>

        <% end %>
      </table>
   </div>
  </div>
</div>