<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <table class= "table">
       <h4>入力内容確認ページ</h4>
        <br>
        <tbody>
          <tr>
            <td class="text-left" style="width: 30%;">お名前</td>
            <td><%= @contact.name %></td>
          </tr>

           <tr>
            <td class="text-left" style="width: 30%;">メールアドレス</td>
            <td><%= @contact.email %></td>
          </tr>

           <tr>
            <td class="text-left" style="width: 30%;">件名</td>
            <td><%= @contact.subject %></td>
          </tr>

          <tr>
            <td class="text-left">メッセージ</td>
            <td style="white-space: pre-wrap;"><%= @contact.message %></td>
          </tr>
        </tbody>
      </table>

      <%= form_for(@contact) do |f| %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :subject %>
        <%= f.hidden_field :message %>

        <div class="text-center">
         <%= f.submit '送信', class: 'btn btn-outline-secondary' %>
        </div>
      <% end %>

     <br>

      <%= form_for @contact, url: contacts_back_path do |f| %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :subject %>
        <%= f.hidden_field :message %>

        <div class="text-center">
         <%= f.submit '入力画面に戻る', class: 'btn btn-outline-secondary' %>
        </div>
      <% end %>

      </div>