<h4>お問い合わせフォーム</h4>

<%= form_with model: @contact do |f| %>
  名前：<%= f.text_field :name, autoforcus: true, placeholder: "たなか たろう", size: "30", class: "form-control" %>
  メールアドレス：<%= f.email_field :email %>
  件名：<%= f.text_field :subject %>
  内容：<%= f.text_area :message %>

  <%= f.submit "確認する", class: 'btn btn-outline-secondary' %>
<% end %>