<div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <h4>shopping List</h4>
        <h6>来週の献立に必要なお買い物リストです。</h6>

        <!--<div>-->
          <%#= form_tag( shopping_lists_path(current_user.id), :method => 'get' ) do %>
            <%#= check_box_tag 'test', '1week', false %><!--<label>1週間分</label>
            <%#= hidden_field_tag 'from', @from %>
            <%#= hidden_field_tag 'to', @to %>
            <%#= submit_tag 'test' %>
          <%# end %>
        <!--</div>-->

        <% @ingredients.each do |ingredient| %>
         <div class="form-check">
           <input class="form-check-input" type="checkbox" id=shopping_list>
           <label class="form-check-label" for=daily_menu><%= ingredient.name %><%= ingredient.quantity %><%= ingredient.unit %></label>
         </div>
        <% end %>

        <br />

        <%= form_with model: @memo, local:true do |f| %>
          <h6>memo</h6>
          <%= f.text_area :memo, placeholder: "メモ", size: "30x5", class: "form-control" %>

        <br />

        <div class="text-center">
          <%= f.submit "メモを登録する", class: 'btn btn-outline-secondary' %>
          <%#= link_to "メモを編集する", edit_shopping_list_path(@memo.id), class: 'btn btn-outline-secondary' %>
          </div>

        <% end %>




      </div>
    </div>
</div>