<header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
    <% if user_signed_in? %><!--ログイン後にロゴを押下するとweeklymenuへリンク-->
     <strong><%= link_to "MY RECIPE", weekly_menus_path, class: "navbar-brand header-logo"%></strong>
    <% else %><!--ログイン前にロゴを押下するとtopページへリンク-->
     <%= link_to "MY RECIPE", root_path, class: "navbar-brand header-logo"%>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
       <li class="nav-welcome nav-link text-light"><strong>ようこそ、<%= current_user.name %>さん！</strong></li>
       <li><%= link_to ' レシピ登録  |', new_recipe_path %></li>
       <li><%= link_to ' レシピ一覧 |', recipes_path %></li>
       <li><%= link_to ' 献立作成 |', daily_menus_path, data: {"turbolinks" => false} %></li>
       <li><%= link_to ' お買い物リスト  |', shopping_lists_path(current_user.id) %></li>
       <li><%= link_to ' 使い方  | ', how_to_use_path %></li>
       <li><%= link_to ' マイページ  |', user_path(current_user.id) %></li>
       <li><%= link_to ' お問い合わせ  |', contacts_path %></li>
       <li><%= link_to " ログアウト |", destroy_user_session_path, method: :delete %></li>
      <% else %>
       <li><%= link_to " 新規登録  |", new_user_registration_path %></li>
       <li><%= link_to " ログイン", new_user_session_path %></li>
      <% end %>
      </ul>
    </div>
  </nav>
</header>