<!DOCTYPE html>
<html>
  <head>
    <title>MyRecipe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <% if user_signed_in? %>
      <li>
       <%= link_to '使い方', how_to_use_path %>
      </li>
      <li>
       <%= link_to '新規レシピ登録', new_recipe_path %>
      </li>
      <li>
       <%= link_to 'レシピ一覧', recipes_path %>
      </li>
      <li>
       <%= link_to 'マイページ', user_path(current_user.id) %>
      </li>
      <li>
       <%= link_to 'contact', new_contact_path %>
      </li>

      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
    　<li>
       <%= link_to '使い方', how_to_use_path %>
      </li>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>

    <%= yield %>

   <footer class='d-flex align-items-center justify-content-center'>
    <h6>Copyright ©2021 All rights reserved by R.Kamijo</h6>
   </footer>
  </body>
</html>
